Hello,

The patching process has been completed on your system, {{ mail_report_system_name }}.

{% if mail_report_template_reboot_step_reboot_required %}

Please note that a reboot may still be necessary in order for the patches to take effect. 
If you have not already done so, please reboot your system at your earliest convenience.

{# TODO: Enter reboot text #}

{{ mail_report_template_reboot_step_reboot_required_stdout }}

{% endif %}

{#

Add system information #TODO
- system name
- organization
- rhel version
- kernel version


#}

If you have any questions or concerns, don't hesitate to reach out to us.

Best regards,
[Automation Platform team]
